body {
    margin: 0;
    padding: 0;
    background-color: #FEE3EC;
    color: #F2789F;
}

img {
    height: 90%;
    width: 100%;
}

.wrapper-container {
    width: 70%;
    height: 50%;
    background-color: #F9C5D5;
    margin: 10% auto;
    overflow: hidden;
}

.slide-container {
    position: relative;
    height: 60vh;
}

.slides {
    display: flex;
    height: 80%;
    width: 400%;
}
.slide {
    width: 25%;
}

input {
    display: none;
}