body {
    margin: 0;
    padding: 0;
    background-color: #EED7CE;
    color: #FF87CA;
    font-family: 'Baloo 2', cursive;
}
h1 {
    font-size: 2vw;
    margin-left: 35%;
}

img {
    height: 100%;
    width: 100%;
}

.wrapper-container {
    width: 50%;
    height: 50%;
    margin: 2% auto;
    overflow: hidden;
}

.slide-container {
    position: relative;
    height: 50%;
}

.slides {
    display: flex;
    width: 400%;
    height: 90%;
}
.slide {
    width: 25%;
    transition: all 0.7s ease;
}

input {
    display: none;
}
.nav-and-text-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 10%;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EED7CE;
}

.text-container {
    display: flex;
    width: 800%;
    align-items: center;
    padding-left: 10%;
}
.text {
    width: 25%;
    font-size: 2vw;
    transition: all 0.7s ease;
}

label {
    cursor: pointer;
    display: inline-block;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    background-color: #FF87CA;
}

#input-1:checked ~ .slides>.slide1,#input-1:checked ~ .nav-and-text-container>.text-container>.text1 {
    margin-left: 0;
}
#input-2:checked ~ .slides>.slide1,#input-2:checked ~ .nav-and-text-container>.text-container>.text1 {
    margin-left: -25%;
}
#input-3:checked ~ .slides>.slide1,#input-3:checked ~ .nav-and-text-container>.text-container>.text1 {
    margin-left: -50%;
}

#input-4:checked ~ .slides>.slide1,#input-4:checked ~ .nav-and-text-container>.text-container>.text1 {
    margin-left: -75%;
}
@media (max-width: 1902px) {
    .wrapper-container {
        margin: 5% auto;
    }
}

@media (max-width: 1280px) {
    .wrapper-container {
        width: 80%;
    }
    h1 {
        font-size: 3vw;
    }
    .text {
        font-size: 3vw;
    }
    label {
        width: 2vw;
        height: 2vw;
    }
}
@media (max-width: 456px) {
    h1 {
        font-size: 4vw;
    }
    .text {
        font-size: 4vw;
    }
    label {
        width: 3vw;
        height: 3vw;
    }
}